
Source: capi-system-device
Section: libs
Priority: extra
Maintainer: pius lee <pius.lee@samsung.com>
Build-Depends: debhelper (>= 5), dlog-dev, libdevman-dev, libglib2.0-dev, capi-base-common-dev, libvconf-dev  

Package: capi-system-device
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A Device library in Tizen Native API

Package: capi-system-device-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-system-device (= ${Source-Version}), dlog-dev, libdevman-dev, capi-base-common-dev, libvconf-dev
Description: A Device library in Tizen Native API (DEV)

Package: capi-system-device-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-system-device (= ${Source-Version})
Description: A Device library in Tizen Native API (DBG)

